{% extends 'SDFBilletterieBundle:Pages/Ticketing:layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block app_hero_content %}
	<h1>Commander un ticket</h1>
	<p>Commande d'un ticket "{{ price.nomTarif }}" pour {{ price.prix }}€.</p>
{% endblock %}

{% block app_content %}
	<div class='container'>
		<form action='{{ path('sdf_billetterie_checkout_ticket_check', { priceId: price.id }) }}' method='{{ form.vars.method }}'>
			<div class='row'>
				<div class='col-sm-6'>{{ form_row(form.prenom) }}</div>
				<div class='col-sm-6'>{{ form_row(form.nom) }}</div>
			</div>
			<div class='row'>
				<div class='col-sm-6'>{{ form_row(form.accepteDroitImage) }}</div>
				<div class='col-sm-6'>{{ form_row(form.navette) }}</div>
			</div>
			{{ form_rest(form) }}
			<div class='form-group'>
				<input class='btn btn-success' type='submit' value='Commander' />
			</div>
		</form>
	</div>
{% endblock %}