<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Administration Billetterie</title>
	</head>

	<body>
		<p><a href="{{ path('sdf_billetterie_contrainteTarif') }}">Ajouter des contraintes de tarif</a></p>
		<p><a href="{{ path('sdf_billetterie_evenements') }}">Ajouter un évènement</a></p>
		<p><a href="{{ path('sdf_billetterie_checkTarifs') }}">Ajouter un tarif</a></p>
		<p><a href="{{ path('sdf_billetterie_billetsAdmin') }}">Ajouter un billet</a></p>
		<p><a href="{{ path('sdf_billetterie_checkNavettes') }}">Ajouter une navette</a></p>
		<p><a href="{{ path('sdf_billetterie_trajetNavette') }}">Ajouter un trajet de navette</a></p>
		<p><a href="{{ path('sdf_billetterie_checkPotCommun') }}">Ajouter un pot commun</a></p>
	</body>
</html>